################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/esp32_s3/Properties
/esp32_s3/obj/Debug
/.vs/nanoFramework_server
/packages
